.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--bg-main-color);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}